<p-dialog
  [(visible)]="visibleModal"
  appendTo="body"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  styleClass="new-product-dialog"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <span class="font-bold white-space-nowrap">
        {{ product ? "Actualizar producto" : "Nuevo lote de productos" }}
      </span>
    </div>
  </ng-template>
  <form class="surface-ground" [formGroup]="productFormPresenter.Form">
    <div class="surface-card p-4 border-round p-fluid">
      <div class="grid formgrid p-fluid">
        <div class="field mb-4 col-12 md:col-12">
          <label for="name" class="font-medium text-900">Nombre</label>
          <input id="name" formControlName="name" type="text" pInputText />
        </div>
        <div class="field mb-4 col-12 md:col-4">
          <label for="categories" class="font-medium text-900">Categoria</label>
          <p-dropdown
            inputId="category"
            [options]="categories"
            optionValue="id"
            formControlName="category"
            optionLabel="description"
            placeholder="Seleccióne una categoria"
          >
          </p-dropdown>
        </div>
        <div class="field mb-4 col-12 md:col-4">
          <label for="marca" class="font-medium text-900">Marca</label>
          <p-dropdown
            inputId="marca"
            [options]="brands"
            optionLabel="description"
            optionValue="id"
            formControlName="brand"
            placeholder="Seleccióne una marca"
          >
          </p-dropdown>
        </div>
        <div class="field mb-4 col-12 md:col-4">
          <label for="color" class="font-medium text-900">Color</label>
          <p-dropdown
            inputId="color"
            [options]="colors"
            optionValue="id"
            formControlName="color"
            optionLabel="description"
            placeholder="Seleccione un color"
          >
          </p-dropdown>
        </div>

        <div class="field mb-4 col-12 md:col-12">
          <label for="description" class="font-medium text-900"
            >Descripción</label
          >
          <input
            id="description"
            formControlName="description"
            type="text"
            pInputText
          />
        </div>

        <!-- <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>

        <div class="field mb-4 col-12 md:col-4">
          <label for="unit" class="font-medium text-900">Unidad</label>
          <p-dropdown
            inputId="unit"
            [options]="units"
            optionValue="id"
            optionLabel="description"
            formControlName="unit"
            placeholder="Seleccióne una unidad"
          >
          </p-dropdown>
        </div>

        <div class="field mb-4 col-6 md:col-4">
          <label for="item" class="font-medium text-900"
            >Cantidad por unidad</label
          >
          <div class="flex align-content-center">
            <p-inputNumber
              inputId="locale-us"
              mode="decimal"
              locale="en-US"
              [minFractionDigits]="2"
              formControlName="unitAmount"
              inputId="minmaxfraction"
              class="flex-1"
            ></p-inputNumber>
          </div>
        </div>

        <div class="field mb-4 col-6 md:col-4">
          <label for="item" class="font-medium text-900"
            >Cantidad por caja</label
          >
          <div class="flex align-content-center">
            <p-inputNumber
              inputId="locale-us"
              mode="decimal"
              locale="en-US"
              formControlName="quantityBox"
              [minFractionDigits]="2"
              inputId="minmaxfraction"
              class="flex-1"
            ></p-inputNumber>
          </div>
        </div> -->

        <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>

        <div formArrayName="prices" class="col-12">
          <div
            *ngFor="
              let price of productFormPresenter.pricesArray.controls;
              let i = index
            "
            [formGroupName]="i"
            class="grid align-items-end mb-3"
          >
            <div class="col-12 md:col-3">
              <label class="font-medium text-900">Canal</label>
              <input pInputText formControlName="channel" readonly />
            </div>

            <div class="col-12 md:col-3">
              <label class="font-medium text-900">Precio Costo</label>
              <div class="flex align-content-center">
                <p-inputNumber
                  formControlName="costPrice"
                  inputId="locale-us"
                  mode="decimal"
                  locale="en-US"
                  [minFractionDigits]="2"
                />
              </div>
            </div>

            <div class="col-12 md:col-3">
              <label class="font-medium text-900">Precio Venta</label>
              <div class="flex align-content-center">
                <p-inputNumber
                  formControlName="salePrice"
                  inputId="locale-us"
                  mode="decimal"
                  locale="en-US"
                  [minFractionDigits]="2"
                />
              </div>
            </div>

            <div class="col-12 md:col-3">
              <label class="font-medium text-900">IGV (%)</label>

              <div class="flex align-content-center">
                <p-inputNumber
                  suffix="%"
                  formControlName="taxRate"
                  inputId="locale-us"
                  mode="decimal"
                  locale="en-US"
                  [minFractionDigits]="2"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="field mb-4 mt-4 col-12 flex align-items-center">
          <span class="mr-2 text-900"
            >Usar el mismo precio para todos los canales?</span
          >
          <p-checkbox
            value="true"
            formControlName="useSamePrice"
            [binary]="true"
          ></p-checkbox>
        </div>

        <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>

        <div class="field mb-4 col-12">
          <label for="descriptionFull" class="font-medium text-900"
            >Descripcion detalla de producto</label
          >
          <textarea
            id="descriptionFull"
            pInputTextarea
            formControlName="descriptionFull"
            [autoResize]="true"
            [rows]="5"
          ></textarea>
        </div>
        <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button
      pButton
      [disabled]="isLoading"
      label="Cancelar"
      class="bg-red-500 border-red-400 hover:bg-red-600"
      (click)="close()"
    ></button>
    <button
      pButton
      pRipple
      [label]="product ? 'Actualizar' : 'Guardar'"
      [disabled]="productFormPresenter.Invalid || isLoading"
      type="button"
      (click)="product ? updateProduct() : saveProduct()"
    ></button>
  </ng-template>
</p-dialog>
