<div class="grid mt-4 mb-4">
  <header
    class="flex w-full justify-content-between align-items-center border-bottom-1 surface-border pb-2"
  >
    <div>
      <h2 class="mt-0 mb-3 font-bold text-2xl text-900">
        Productos / Listar productos
      </h2>
    </div>
  </header>

  <div class="col-12 md:col-6 lg:col-4">
    <div class="surface-card shadow-2 p-3 border-round">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3"
            >Total de productos</span
          >
          <div class="text-900 font-medium text-xl">{{ products.length }}</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">{{ productsLastMonth }} </span>
      <span class="text-500">en el ultimo mes</span>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <div class="surface-card shadow-2 p-3 border-round">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3"
            >Productos con Stock Bajo</span
          >
          <div class="text-900 font-medium text-xl">
            {{ isLowStockProducts }}
          </div>
        </div>
        <div
          class="flex align-items-center justify-content-center border-round"
          style="width: 2.5rem; height: 2.5rem"
          [ngClass]="lowStockPercentage < 50 ? 'bg-green-100' : 'bg-red-100'"
        >
          <i
            class="pi text-xl"
            [ngClass]="
              lowStockPercentage < 50
                ? 'pi-check text-green-500 '
                : 'pi pi-exclamation-triangle text-red-500'
            "
          ></i>
        </div>
      </div>
      <span
        class="font-medium"
        [ngClass]="lowStockPercentage < 50 ? 'text-green-500' : 'text-red-500'"
      >
        {{ lowStockPercentage }}%
      </span>
      <span class="text-500">Porcentaje de todo el stock</span>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <div class="surface-card shadow-2 p-3 border-round">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3"
            >Precio total de todos los productos</span
          >
          <div class="text-900 font-medium text-xl">
            {{ totalInventoryValue | currencyLugo }}
          </div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-cyan-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-dollar text-cyan-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">En costo de productos </span>
      <span class="text-500"></span>
    </div>
  </div>
</div>
