<p-dialog
  [(visible)]="visibleModal"
  appendTo="body"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
  [style]="{ width: '70vw' }"
  [draggable]="false"
  [resizable]="false"
  styleClass="new-category-dialog"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <span class="font-bold white-space-nowrap">
        Nuevo Movimiento de Invetario
      </span>
    </div>
  </ng-template>

  <div class="grid -mr-3 -ml-3">
    <div class="col-12 lg:col-8 p-4">
      <app-inventary-detail
        [products]="products"
        [inventaryMovementsType]="inventaryMovementsType"
      ></app-inventary-detail>
    </div>
    <div class="col-12 lg:col-4 p-4">
      <div class="surface-card border-round shadow-2 p-5">
        <app-inventary-summary></app-inventary-summary>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      [disabled]="isLoading"
      label="Cancelar"
      class="bg-red-500 border-red-400 hover:bg-red-600"
      (click)="close()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      [disabled]="isLoading"
      type="button"
      (click)="saveInventary()"
    ></button>
  </ng-template>
</p-dialog>
