<section
  class="surface-overlay pt-4 border-top-1 flex surface-border justify-content-between"
>
  <div class="border-bottom-1 surface-border">
    <h2 class="mt-0 mb-2 text-900 font-bold text-4xl">Categorias</h2>
    <p class="mt-0 mb-5 text-700 font-normal text-base">
      Se puede administrar todos las categorias desde esta pagina.
    </p>
  </div>
  <div class="border-bottom-1 surface-border">
    <button
      pButton
      pRipple
      label="Nueva categoria"
      class="p-button-outlined"
      icon="pi pi-plus"
      (click)="newCategory()"
    ></button>
  </div>
</section>

<app-category-table></app-category-table>
