<div
  id="app-sidebar-8"
  class="h-screen lg:block flex-shrink-0 fixed lg:sticky left-0 top-0 z-1 border-right-1 select-none animation-duration-300 animation-ease-in-out border-white-alpha-10"
  style="
    width: 280px;
    background-image: linear-gradient(60deg, #29323c 0%, #2f3844 100%);
  "
>
  <div class="flex flex-column h-full">
    <div
      class="flex align-items-center px-5 flex-shrink-0"
      style="height: 60px"
    >
      <img
        src="https://img.freepik.com/vector-gratis/vector-degradado-logotipo-colorido-pajaro_343694-1365.jpg?semt=ais_user_personalization&w=740&q=80"
        alt="Image"
        height="30"
      />
    </div>
    <div class="overflow-y-auto">
      <ul class="list-none p-3 m-0" *ngFor="let menu of menus">
        <li>
          <div
            pRipple
            class="p-3 flex align-items-center justify-content-between text-gray-500 cursor-pointer"
            pStyleClass="@next"
            enterClass="hidden"
            enterActiveClass="slidedown"
            leaveToClass="hidden"
            leaveActiveClass="slideup"
          >
            <span class="font-medium">{{ menu.name | uppercase }}</span>
            <i class="pi pi-chevron-down"></i>
          </div>
          <ul class="list-none p-0 m-0 overflow-hidden">
            <li *ngFor="let child of menu.children">
              <a
                pRipple
                class="flex align-items-center cursor-pointer p-3 text-gray-300 hover:bg-bluegray-700 transition-duration-150 transition-colors"
                style="border-radius: 30px"
                pStyleClass="@next"
                enterClass="hidden"
                enterActiveClass="slidedown"
                leaveToClass="hidden"
                leaveActiveClass="slideup"
                (click)="navigateChild(child, menu)"
              >
                <i class="{{ child.icon }} mr-2"></i>
                <span class="font-medium">{{ child.name }}</span>
                <i
                  *ngIf="child.children.length > 0"
                  class="pi pi-chevron-down ml-auto"
                ></i>
              </a>
              <ul
                *ngIf="child.children.length > 0"
                class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out"
              >
                <li *ngFor="let grandchild of child.children">
                  <a
                    pRipple
                    (click)="navigateGrandChild(grandchild, child)"
                    class="flex align-items-center cursor-pointer p-3 text-gray-300 hover:bg-bluegray-700 transition-duration-150 transition-colors"
                    style="border-radius: 30px"
                  >
                    <i class="{{ grandchild.icon }} mr-2"></i>
                    <span class="font-medium">{{ grandchild.name }}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="mt-auto border-top-1 border-white-alpha-10">
      <ul
        class="list-none p-2 m-0 hidden origin-bottom animation-duration-150 overflow-hidden animation-ease-in-out"
      >
        <li>
          <a
            pRipple
            class="flex align-items-center cursor-pointer p-3 hover:bg-bluegray-700 text-gray-300 transition-duration-150 transition-colors"
            style="border-radius: 30px"
          >
            <i class="pi pi-user mr-2"></i>
            <span class="font-medium">Profile</span>
          </a>
        </li>
        <li>
          <a
            pRipple
            class="flex align-items-center cursor-pointer p-3 hover:bg-bluegray-700 text-gray-300 transition-duration-150 transition-colors"
            style="border-radius: 30px"
          >
            <i class="pi pi-cog mr-2"></i>
            <span class="font-medium">Settings</span>
          </a>
        </li>
        <li>
          <a
            pRipple
            class="flex align-items-center cursor-pointer p-3 hover:bg-bluegray-700 text-gray-300 transition-duration-150 transition-colors"
            style="border-radius: 30px"
          >
            <i class="pi pi-sign-out mr-2"></i>
            <span class="font-medium">Sign Out</span>
          </a>
        </li>
      </ul>
      <a
        pRipple
        class="m-3 px-3 py-2 flex align-items-center hover:bg-bluegray-700 text-gray-300 cursor-pointer text-gray-300 transition-duration-150 transition-colors"
        pStyleClass="@prev"
        enterClass="hidden"
        enterActiveClass="slidedown"
        leaveToClass="hidden"
        leaveActiveClass="slideup"
        style="border-radius: 30px"
      >
        <img
          src="https://img.freepik.com/vector-gratis/vector-degradado-logotipo-colorido-pajaro_343694-1365.jpg?semt=ais_user_personalization&w=740&q=80"
          class="mr-2"
          style="width: 28px; height: 28px"
        />
        <span class="font-medium">Amy Elsner</span>
        <i class="pi pi-chevron-up ml-auto"></i>
      </a>
    </div>
  </div>
</div>
