<p-table
  #dt1
  [value]="inventaryMovements"
  dataKey="id"
  [rows]="60"
  [rowsPerPageOptions]="[60, 90, 110]"
  [loading]="isLoading"
  [paginator]="true"
  [tableStyle]="{ 'min-width': '75rem', 'font-size': '14px' }"
  [globalFilterFields]="['product.name']"
  currentPageReportTemplate="Mostrando {last} movimientos de {totalRecords}"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <!-- IZQUIERDA -->
      <div>
        <button
          pButton
          pRipple
          icon="pi pi-filter-slash"
          (click)="clear(dt1)"
          class="p-button mr-2"
        ></button>
        <span class="p-input-icon-left w-20rem">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            class="w-20rem"
            (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Buscar..."
          />
        </span>
      </div>

      <div class="flex align-items-center gap-3">
        <div>
          <button
            pButton
            pRipple
            icon="pi pi-plus"
            (click)="newInventary()"
            class="p-button mr-2"
          ></button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="min-width: 15rem">
        <div class="flex align-items-center">
          Producto
          <p-columnFilter type="text" field="product.name" display="menu" />
        </div>
      </th>

      <th style="min-width: 10rem">
        <div class="flex align-items-center">
          Tipo de movimiento

          <p-columnFilter
            field="inventarymovementsType"
            matchMode="in"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
          >
            <ng-template pTemplate="header">
              <div class="px-3 pt-3 pb-0">
                <span class="font-bold">Seleccione un movimiento</span>
              </div>
            </ng-template>
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-dropdown
                inputId="inventarymovementsType"
                [options]="inventarymovementsType"
                optionLabel="name"
                optionValue="id"
                [showClear]="true"
                placeholder="Seleccione"
              >
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>

      <th style="min-width: 10rem">
        <div class="flex align-items-center">
          Cantidad
          <p-columnFilter field="quantity" type="numeric" display="menu" />
        </div>
      </th>
      <th style="min-width: 8rem">
        <div class="flex align-items-center">
          Stock Anterior
          <p-columnFilter type="numeric" field="stockBefore" display="menu" />
        </div>
      </th>
      <th style="min-width: 12rem">
        <div class="flex align-items-center">
          Stock Actual
          <p-columnFilter type="numeric" field="stockAfter" display="menu" />
        </div>
      </th>

      <th style="min-width: 10rem">
        <div class="flex align-items-center">
          Costo unitario
          <p-columnFilter
            type="numeric"
            locale="en-US"
            field="unitCost"
            display="menu"
          />
        </div>
      </th>
      <th style="min-width: 10rem">
        <div class="flex align-items-center">
          Costo total
          <p-columnFilter
            type="numeric"
            locale="en-US"
            field="totalCost"
            display="menu"
          />
        </div>
      </th>

      <th style="min-width: 10rem">
        <div class="flex align-items-center">
          Razon
          <p-columnFilter
            field="brand"
            matchMode="in"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
          >
            <ng-template pTemplate="header">
              <div class="px-3 pt-3 pb-0">
                <span class="font-bold">Seleccione una marca</span>
              </div>
            </ng-template>
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
            </ng-template>
          </p-columnFilter>
        </div>
      </th>

      <th style="min-width: 10rem">
        <div class="flex align-items-center">
          Fecha de creación
          <p-columnFilter type="date" field="createdAt" display="menu" />
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-inventary>
    <tr>
      <td>
        {{ inventary.product.name }}
      </td>

      <td>
        <p-tag
          [tagInventaryMovement]="inventary.typeInventary"
          class="text-white"
          [styleClass]="'text-white'"
        ></p-tag>
      </td>
      <td>
        {{ inventary.quantity }}
      </td>
      <td>
        {{ inventary.stockBefore }}
      </td>
      <td>
        {{ inventary.stockAfter }}
      </td>
      <td>
        {{ inventary.unitCost | currencyLugo }}
      </td>
      <td>
        {{ inventary.totalCost | currencyLugo }}
      </td>
      <td>
        {{ inventary.reason }}
      </td>
      <td>
        {{ inventary.createdAt | date: "shortDate" }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">No se encontro ningun movimiento.</td>
    </tr>
  </ng-template>
</p-table>
